.main-div {
    background-color: #f2f2f2;
    color: #000;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.room-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
}

.guests-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.rectangle {
    border: 2px solid black;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.rectangle a {
    color: black;
    text-decoration: none;
    max-width: 100%; /* Allow text to scale proportionally */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.rectangle-green {
    border: 2px solid green;
    border-radius: 10px;
    padding: 25px;
    margin: 10px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.rectangle-green a {
    color: green;
    text-decoration: none;
}

.apply-button {
    display: flex;
    justify-content: flex-end;
    margin-top: auto;
}